@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto-Regular-4e147ab6.ttf) format("truetype")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Roboto-Medium-9d0d55a3.ttf) format("truetype")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Roboto-Bold-ec685a46.ttf) format("truetype")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/Roboto-Black-5ace0d08.ttf) format("truetype")
}

:root {
    --tg-color-bg: var(--tg-theme-bg-color, #1c1c1d);
    --tg-color-bg-secondary: var(--tg-theme-secondary-bg-color, #000);
    --tg-color-bg-button: var(--tg-theme-button-color, #3e88f7);
    --tg-color-text: var(--tg-theme-text-color, #fff);
    --tg-color-text-button: var(--tg-theme-button-text-color, #fff);
    --tg-color-hint: var(--tg-theme-hint-color, #98989e);
    --tg-color-link: var(--tg-theme-link-color, #3e88f7);
    --tg-skeleton-color: var(--color-bg-tertiary);
	--tg-section-bg-color: var(--tg-theme-section-bg-color, #17212b);
}

:root {
	--rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
	--rsbs-bg: #17212b;
	/* --rsbs-bg: transparent; */
	--rsbs-handle-bg: gray;
	--rsbs-max-w: auto;
	--rsbs-ml: env(safe-area-inset-left);
	--rsbs-mr: env(safe-area-inset-right);
	--rsbs-overlay-rounded: 0px !important;
}

@keyframes handle-bounce {
  0%, 100% {
    transform: translateY(-15);
  }
  50% {
    transform: translateY(-25px);
  }
}

[data-rsbs-header] {
	padding: 0px !important;
	transform: translateY(-20px);
	animation: handle-bounce 1.5s ease-in-out infinite;
}

.take-logo g {
	fill: var(--tg-color-bg-button);
}

.gm-style-cc {
  	bottom: -20px !important;
}

.gm-style img[alt="Google"] {
  	transform: translateY(-20px) translateX(-5px);
	scale: calc(80%);
}